.inputNewTask{
    width: 638px;
    height: 22px;
    background: var(--gray-500);
    color:var(--gray-300);
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}